<button (click)="setVisible()">{{visible? 'OCULTAR':'MOSTRAR'}}</button>
<h2>{{title}}</h2>
@if (visible) {
@if((users != undefined && users.length > 0)){
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {
    <tr>
      <td>
        {{$index+1}}
        {{user}}
      </td>
    </tr>
    }
  </tbody>
</table>
}@else {
<span>No contamos con usuarios aun</span>
}
} @else {
<span>No contamos con informacion</span>
}

<!--<div *ngIf="visible else notVisible ">
  <h2>{{title}}</h2>
</div>


<div *ngIf="visible">
  <table *ngIf="">
    <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;index as i">
        <td>
          {{i+1}}
          {{user}}
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #isEmpty >
    <div>
      <span>No contamos con usuarios aun</span>
    </div>
  </ng-template>
</div>
<ng-template #notVisible >
  <div>
    <span>No contamos con informacion</span>
  </div>
</ng-template>-->